# Temporary folders
tmp/
temp/

# Build output
dist/

# Dependency directories
node_modules/

# Parcel cache
.cache/

.DS_*

# dotenv environment variables file
.env

.vscode/

.next/

*.sqlite

*.log
yarn-*.log
