.btn {
    min-height: 56px;
    width: 100%;
    max-width: 300px;
    margin: 8px 0;
    padding: 16px 24px;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.25;
    border-radius: 3px;
    color: #fff;
    transition: background-color 0.25s ease-in-out;
    font-weight: 700;
    cursor: pointer;
    appearance: none;
    border: none;
    background-color: #005bff;
}

.btn:disabled {
    background-color: #d6dbe0;
    color: #808d9a;
    cursor: default;
    pointer-events: none;
}

.link {
    composes: btn;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: #004ed6;
}

.green {
    background-color: #3ac267;
}

.green:hover {
    background-color: #33b062;
}

.red {
    background-color: #dc004e;
}

.red:hover {
    background-color: #9a0036;
}
