.container {
    border-top: 1px solid #d6dbe0;
    margin-top: 16px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.lineTitle {
    font-size: 14px;
    line-height: 1.3em;
    color: #001a34;
}

.lineValue {
    composes: linetitle;
    font-weight: bold;
}

.title {
    composes: linetitle;
    font-weight: bold;
    font-size: 20px;
}

.subtitle {
    font-size: 14px;
    line-height: 1.3;
    text-align: end;
    color: #808d9a;
}
