.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding-top: 16px;
}

.wrapper:not(:last-of-type) {
    border-top: 1px solid #d6dbe0;
}

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4em;
    color: #001a34;
}

.subtitle {
    font-size: 14px;
    line-height: 1.29em;
    text-align: end;
    color: #808d9a;
}
