.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 50px 0;
}

.title {
    font-size: 28px;
    text-align: center;
}

.subtitle {
    padding: 0 20px;
    text-align: center;
}
