.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
}
.container:hover {
    text-decoration: none;
}

.details {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.price {
    font-size: 18px;
    font-weight: 700;
    color: #222;
    white-space: nowrap;
    line-height: 1;
}

.title {
    color: #222;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    margin-top: 6px;
}

.image {
    object-fit: contain;
}
